locale: "vi-VN"        # hoặc "en" / "vi"
site_theme: "default"  # để yên cũng được
title: "Phan Loc — Portfolio"
title_separator: "-"
name: &name "Phan Loc"
nickname: &nickname "imxzone"
description: &description "Phan Loc's AI & Data portfolio"
url: "https://imxzone.github.io"
baseurl: ""
repository: "imxzone/imxzone.github.io"

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


sass:
  sass_dir: _sass
  style: compressed

permalink: /:categories/:title/
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
  - jekyll-last-modified-at
timezone: Asia/Ho_Chi_Minh

collections:
  teaching:
    output: true
    permalink: /teaching/:name/