---
layout: default
title: Home
permalink: /
---

<section class="home" id="home">

    <div class="home-img">
        <img src="{{ site.data.author.avatar | relative_url }}" alt="{{ site.data.author.name }}">
    </div>
    
    <div class="home-content">
        <h1>It's <span>{{ site.data.author.name }}</span></h1>
        <h3 class="text-animation">
            I'm a <span></span>
        </h3>

        <p>
            {{ site.data.author.bio }}
        </p>
        
        <div class="social-icons">
            {% if site.data.author.social.linkedin %}
            <a href="{{ site.data.author.social.linkedin }}" target="_blank"><i class='bx bxl-linkedin'></i></a>
            {% endif %}
            {% if site.data.author.social.facebook %}
            <a href="{{ site.data.author.social.facebook }}" target="_blank"><i class='bx bxl-facebook'></i></a>
            {% endif %}
            {% if site.data.author.social.github %}
            <a href="{{ site.data.author.social.github }}" target="_blank"><i class='bx bxl-github'></i></a>
            {% endif %}
            {% if site.data.author.social.youtube %}
            <a href="{{ site.data.author.social.youtube }}" target="_blank"><i class='bx bxl-youtube'></i></a>
            {% endif %}
        </div>
    </div>
</section>

<!-- <section class="about" id="about">
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3 class="text-animation">
            <span></span>
        </h3>
        <p>
            {{ site.data.author.quote }}
        </p>
        <a href="/pages/about.html" class="btn"> Read More </a>
    </div>
    <div class="about-img">
        <img src="{{ site.data.author.about_image | relative_url }}" alt="{{ site.data.author.name }}">
    </div>
</section> -->

<section class="services" id="services">
    <h2 class="heading">Projects</h2>

    <div class="services-container">
        <div class="services-box">
            <div class="services-info">
                <h4>Data Science</h4>
                <p>tao la mot thang datanalyst</p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>GD</h4>
                <p>tao la mot thang datanalyst</p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>DS</h4>
                <p>tao la mot thang datanalyst</p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>DE</h4>
                <p>tao la mot thang dataanalyst</p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>AE</h4>
                <p>tao la mot thang datanalyst</p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>AE</h4>
                <p>tao la mot thang datanalyst</p>
            </div>
        </div>

    </div>
</section>

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me</span></h2>

    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Email">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Phone Number">
            <input type="text" placeholder="Subject">
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>

<!-- bundle install -->
<!-- bundle exec jekyll serve --livereload -->
