{%- assign author = site.data.author -%}

<footer class="footer">
    <div class="social">
        {% if author.social.linkedin %}
        <a href="{{ author.social.linkedin }}" target="_blank" ><i class='bx bxl-linkedin'></i></a>
        {% endif %}
        {% if author.social.facebook %}
        <a href="{{ author.social.facebook }}" target="_blank" ><i class='bx bxl-facebook'></i></a>
        {% endif %}
        {% if author.social.github %}
        <a href="{{ author.social.github }}" target="_blank" ><i class='bx bxl-github'></i></a>
        {% endif %}
        {% if author.social.youtube %}
        <a href="{{ author.social.youtube }}" target="_blank" ><i class='bx bxl-youtube'></i></a>
        {% endif %}
    </div>

    <p class="copyright">
        @ {{ author.name }} | All Rights Reserved
    </p>
</footer>
