<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en'}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ '/styles/base.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/layout.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/home.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/publications.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/projects.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/talks.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/teaching.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/blog.css' | relative_url }}">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ "/scrip.js" | relative_url }}"></script>
</body>
</html>
